@font-face {
  font-family: "Arvo Bold";
  src: url("../fonts/Arvo-Bold.ttf")
}
@font-face {
  font-family: "Arvo BoldItalic";
  src: url("../fonts/Arvo-BoldItalic.ttf")
}
@font-face {
  font-family: "Arvo Italic";
  src: url("../fonts/Arvo-Italic.ttf")
}
@font-face {
  font-family: "Arvo Regular";
  src: url("../fonts/Arvo-Regular.ttf")
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf")
}