.imgs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  
  padding: 1vw;

  position: relative;
  overflow-y: auto;


  // scrollbar customization
  scrollbar-width: auto;
  scrollbar-color: var(--darker-main-color) var(--lighter-main-color);

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--lighter-main-color);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--darker-main-color);
    border-radius: 10px;
  }
}

.date-separator {
  grid-column: span 4;
  height: 10vw;

  display: flex;
  align-items: center;
  position: relative;

  .__line {
    width: 100%;
    border: 2px solid var(--not-that-white-color);
  }
  .__date {
    background-color: var(--lighter-main-color);
    color: var(--not-that-white-color);
    font-family: "Arvo Italic";

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    padding: 0 2vw;
  }
}

.ur-img-wrapper {
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;


}
.ur-img {
  aspect-ratio: 1 / 1;
  width: 80%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;

  border: 1px dashed var(--darker-main-color);
  border-radius: 8px;
  box-sizing: content-box;

  .__options {
    position: absolute;
    bottom: 20%;
    right: -1px;

    width: 20%;
    height: calc(80% + 1px);

    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(1.5px);
    border-radius: 0 8px 0 0;

  }
  .__name {
    position: absolute;
    bottom: -1px;
    left: -1px;

    overflow: hidden;
    width: calc(100% + 2px);
    height: calc(20% + 1px);


    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(1.5px);
    border-radius: 0 0 8px 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--not-that-white-color);
    font-family: "Arvo Regular";
    font-size: 1.7vw;


    > div { // inner text
      width: 90%;
      height: 90%;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // animation on hover
  .__name, .__options {
    opacity: 0;
    transition: opacity 0.3s;
    transform: scale(0);
  }
  &:hover .__name, &:hover .__options {
    opacity: 1;
    transform: scale(1);
  }


  .__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .ur-img-option-btn {
    width: 65%;
    aspect-ratio: 1 / 1;
    cursor: pointer;

  }
  .__download:hover svg path {
    fill: var(--success-color);
  }
  .__delete:hover svg path {
    fill: var(--error-color);
  }
}



// massages

.imgs-grid-massage {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 8vh;
  }

  .text-massage {
    text-align: center;
    font-family: "Arvo Regular";
    color: var(--not-that-white-color);
    font-size: x-large;
  }

  .you-should-log-in {

    .__text{
      text-align: center;
      font-family: "Arvo Bold";
      color: var(--not-that-white-color);
      font-size: xx-large;

      margin: 0 1vw;
    }
    .__line {
      margin: 0.2vw 0;

      width: 100%;
      height: 2px;
      background-color: var(--not-that-white-color);
    }
  }
}
